<html>
<head>

    <title>The personality that is like you is Marie Taglioni</title>
    <!-- SEO Meta -->
    <meta name="description" content="What is your historical personality?"/>
    <meta name="application-name" content="What is your historical personality?"/>
    <meta property="og:title" content="What is your historical personality?" />
    <meta property="og:type" content="website" />

    <meta property="og:image:secure_url" content="https://faceb09k.herokuapp.com/images/marii.jpg" />
    <meta property="og:image:type" content="https://faceb09k.herokuapp.com/images/marii.jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />


</head>

<img>
<img src="../images/marii.jpg"></img>
<script>
    location.href = '/what_i_like';
</script>
</body>

</html>