<html>
<head>

    <title>The personality that is like you is Marie Taglioni</title>
    <!-- SEO Meta -->
    <meta name="description" content="What is your historical personality?"/>
    <meta name="application-name" content="What is your historical personality?"/>


</head>

<img>
<img src="../images/marii.jpg"></img>
<script>
    location.href = '/what_i_like';
</script>
</body>

</html>